        <footer class="footer">
          <span>Copyright John Foderaro &copy; 2019</span>
          <ul class="footer list">
            <li class="footer list-item">
              <a class="footer link" href="/disclaimer/">Disclaimer</a>
            </li>
            <li class="footer list-item">
              <a class="footer link" href="/affiliate/">Affiliate</a>
            </li>
            <li class="footer list-item">
              <a class="footer link" href="/privacy/">Privacy</a>
            </li>
          </ul>
        </footer>
        <script src="/scripts/main.js"></script>
      </body>
    </html>