        <footer>
          <div>Copyright John Foderaro &copy; {{ year }}</div>
          <ul>
            <li><a href="/disclaimer/">Disclaimer</a></li>
            <li><a href="/affiliate/">Affiliate</a></li>
            <li><a href="/privacy/">Privacy</a></li>
          </ul>
        </footer>
        <script src="/scripts/main.js"></script>
      </body>
    </html>