
.home {
  main {

    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-align: center;

    .flex-container {
      display: flex;
      flex-direction: row;
    }

    .headline {
      h1 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 4vw;

        flex: 2 0 0;
        align-items: flex-start;

        font-weight: 600;
        @media(min-width: $large-breakpoint) {
          font-size: 4em;
        }
      }
      h2 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 3em;
        font-weight: 200;
      }
    }
    .headshot {
      flex: 1 0 0;
      align-items: flex-end;
      img {
        display: block;
        max-width: 10rem;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: auto;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
    .content {

    }

    p {
      font-size: 1.75em;
      font-family: sans-serif;
      font-weight: 300;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      @media(min-width: $small-breakpoint) {
        display: inline;
        font-family: sans-serif;
        font-weight: 300;
      }
      margin-right: .25rem;
      margin-left: .25rem;
      font-size: 1.75em;
      font-family: sans-serif;
      &:not(:last-child) {
        &::after {
          margin-left: 1rem;
          content:"\00b7";
        }
      }
    }
  }
}
