.home {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .flex-container {
      display: flex;
      flex-direction: row;
    }
    a {
      color: $red;
      text-decoration: none;
      transition: all 0.2s;
      &:hover {
        color: darken($red, 30%);
      }
    }
    .headline {
      display: block;
      flex: 1 0 70%;
      align-items: flex-start;
      h1 {
        margin: 0;
        font-size: 4em;
        font-weight: 600;
        @media(min-width: $large-breakpoint) {
          font-size: 4em;
        }
      }
      h2 {
        margin: 0;
        font-size: 3em;
        font-weight: 300;
      }
    }
    .headshot {
      flex: 1 0 30%;
      align-items: flex-end;
      img {
        display: block;
        width: 10rem;
        height: auto;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: auto;
        border-radius: 50%;
        border: none;
      }
    }
    .content {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5em;
      font-family: 'Lora', serif;
      line-height: 1.45;
    }
  }
}
