// Font
// @import 'https://fonts.googleapis.com/css?family=Lato|Roboto';


@import 'https://fonts.googleapis.com/css?family=Lato|Raleway';

$body-color: #1C1F25;
$text-color: #fff;
$link-color: #4DB6C2;

$large-breakpoint: 768px;
$small-breakpoint: 767px;
