body {
  background-color: $white;
  color: $text;
  @media (max-width: $small-width) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ol,
ul {
  padding-left: 2rem;
}

li {
  font-size: 1.25em;
  font-family: $alt-font-family;
  line-height: 1.5;
}

a {
  color: $link-1;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: darken($link-1, 20%);
  }
}

p {
  font-size: 1.25em;
  font-family: $alt-font-family;
  line-height: 1.5;
  overflow-wrap: break-word;
}

strong {
  font-weight: 600;
}

.container {
  @include content-wrapper;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  @media(min-width: $large-width) {
    flex-direction: row;
  }
}
