// Container and wrapper
.container {
  @include content-wrapper;
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
  @media(min-width: $large-width) {
    flex-direction: row;
  }
}


// Nav items
.title {
  font-weight: 300;
  @media(min-width: $large-width) {
    flex: 1 0 0;
    align-items: flex-start;
    text-align: left;
  }
  .name {
    font-weight: 600;
  }
  a {
    color: $blue-2;
    text-decoration: none;
    font-size: 2em;
    @media(min-width: $large-width) {
      font-size: 2.5em;
    }
  }
}
.links {
  word-spacing: 1.6em;
  @media(min-width: $large-width) {
    flex: 2 0 0;
    align-items: flex-end;
    text-align: right;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
    font-size: 1.3em;
  }
  a {
    font-family: $sans-serif, sans-serif;
    line-height: 2.75;
  }
}


// Hero section
.hero {
  padding-bottom: 4rem;
  @media(min-width: $large-width) {
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
  text-align: center;
  hr {
    border: 0; // reset
    border-bottom: 0.25em solid $gray;
  }
  h1 {
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 3.5em;
  }
  h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    font-family: $serif, serif;
  }
}


// Home page panels
.panel {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  @media(min-width: $large-width) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  h3 {
    margin: 0;
    font-size: 2.25em;
  }
  p {
    bottom: 0;
    font-size: 1.65em;
  }
  svg {
    max-width: 100px;
    height: 100px;
    @media(min-width: $large-width) {
      max-width: 200px;
      height: 140px;
    }
  }

  &:nth-child(even) {
    .text {
      @media(min-width: $large-width) {
        flex: 1 0 60%;
        align-items: flex-start;
        order: 1;
        text-align: left;
      }
    }
    .icon {
      @media(min-width: $large-width) {
        flex: 1 0 40%;
        align-items: flex-end;
        order: 2;
        text-align: right;
      }
    }
    a {
      color: $link-2;
      &:hover {
        color: lighten($link-2, 20%);
      }
    }
    svg {
      fill: #fff;
    }
  }
  &:nth-child(odd) {
    .text {
      @media(min-width: $large-width) {
        flex: 1 0 60%;
        align-items: flex-end;
        order: 3;
        text-align: left;
      }
    }
    .icon {
      @media(min-width: $large-width) {
        flex: 1 0 40%;
        align-items: flex-start;
        order: 1;
        text-align: left;
      }
    }
    svg {
      fill: $blue-2;
    }
  }
  // vertical align on desktop
  .icon {
    @media(min-width: $large-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  // Set font and background colors
  @include panel-colors;
}
