.page {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 600;
      @media(min-width: $large-width) {
        font-size: 3em;
      }
    }
    h2 {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 2.5em;
      font-weight: 300;
    }
    h3 {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 2em;
      font-weight: 300;
    }
    h4 {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 1.75em;
      font-weight: 300;
    }
    a {
      color: $red;
      text-decoration: none;
      transition: all 0.2s;
      &:hover {
        color: darken($red, 30%);
      }
    }
    p {
      font-size: 1.25em;
      font-family: 'Lora', serif;
      line-height: 1.45;
    }
    li {
      font-size: 1.25em;
      font-family: 'Lora', serif;
      line-height: 1.45;
    }
  }
  .date {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    color: $orange;
  }
  .posts {
    display: flex;
    flex-direction: column;
  }
}

aside {
  text-align: center;
  .cta {
    display: block;
    padding-top: .75rem;
    padding-bottom: .75rem;
    flex: 1 0 50%;
    align-items: center;
    transition: all 0.5s;
    a {
      // transition: all 0.5s;
      font-size: 1.5em;
      color: $blue;
      text-decoration: none;
    }
    &:first-child {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }
    &:last-child {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
    svg {
      fill: $blue;
      // transition: all 0.5s;
    }
    &:hover {
      a {
        color: #fff;
      }
      background: $blue;
      svg {
        // transition: all 0.5s;
        fill: #fff;
      }
    }
  }
}
