.hero {
  @media(min-width: $large-width) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  text-align: center;

  hr {
    border: 0; // reset
    border-bottom: 0.25px solid $link-1;
  }

  h1 {
    margin: 0;
    font-size: 2.5em;
    @media(min-width: $large-width) {
      font-size: 3.25em;
    }
  }

  h2 {
    margin: 0;
    font-size: 1.5em;
    font-family: $alt-font-family;
    line-height: 1.5;
    @media(min-width: $large-width) {
      font-size: 1.65em;
    }
  }
}

// Home page panels
.panel {
  @media(min-width: $large-width) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  text-align: center;
  @include panel-colors;

  h3 {
    margin: 0;
    font-size: 2.25em;
  }

  p {
    margin: 0;
    @media(min-width: $large-width) {
      margin: 0;
    }
    font-size: 1.5em;
  }

  svg {
    max-width: 100px;
    height: 100px;
    @media(min-width: $large-width) {
      max-width: 200px;
      height: 140px;
    }
  }

  .icon {
    padding: 0.25rem;
  }

  &:nth-child(even) {
    .text {
      @media(min-width: $large-width) {
        flex: 1 0 60%;
        align-items: flex-start;
        order: 1;
        text-align: left;
      }
    }

    .icon {
      @media(min-width: $large-width) {
        flex: 1 0 40%;
        align-items: flex-end;
        order: 2;
        text-align: right;
      }
    }

    a {
      color: $link-2;

      &:hover {
        color: lighten($link-2, 20%);
      }
    }

    svg {
      fill: #fff;
    }
  }

  &:nth-child(odd) {
    .text {
      @media(min-width: $large-width) {
        flex: 1 0 60%;
        align-items: flex-end;
        order: 3;
        text-align: left;
      }
    }

    .icon {
      @media(min-width: $large-width) {
        flex: 1 0 40%;
        align-items: flex-start;
        order: 1;
        text-align: left;
      }
    }

    svg {
      fill: $blue-2;
    }
  }
}
