

header {
  nav {
    padding-top: .75rem;
    padding-bottom: .75rem;
    align-items: center;
    text-align: center;
  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  p {
    font-family: $sans-serif, sans-serif;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    list-style: none;
  }
  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25em;
    font-family: $base-font-family;
    @media(min-width: $small-width) {
      display: inline;
    }
  }
}
