// Font
@import 'https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400';

// Color
$black:  #383a42;
$gray:   #60626C;
$white:  #fafafa;
$blue:   #0184bc;
$red:    #e45649;
$orange: #c18401;
$purple: #a626a4;
$green:  #50a14f;
$link:   #4DB6C2;
$text:   $gray;

$large-width: 768px;
$small-width: 767px;

$body: $white;
