// Font
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Merriweather:300,400');
$sans-serif: 'Tahoma';
$serif: 'Georgia';

// Colors
$gray:   #eee;
$white:  #fcfdfd;
$blue-1: #0a3650;
$blue-2: #006594;
$blue-3: #132a3e;
$link-1: #1b97de;
$link-2: #ff9200;
$text:   $blue-3;
$body:   $white;

// Panel colors
$font-colors:        $text #fff $text #fff;
$background-colors:  $gray $blue-2 $white $blue-1;

// Form highlighting
$green:  #50a14f;
$red:    #e45649;

// Media query widths
$large-width: 768px;
$small-width: 767px;
