// Font
$base-font-size: 18px;
$base-line-height: 24px;
$base-font-family: 'Tahoma', sans-serif;
$alt-font-family: 'Georgia', serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.75  * $base-font-size;
$h3-font-size: 1.5 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// // Font
// $sans-serif: 'Tahoma';
// $serif: 'Georgia';

// Colors
$gray:   #eee;
$white:  #fcfdfd;
$blue-1: #0a3650;
$blue-2: #006594;
$blue-3: #132a3e;
$link-1: #1b97de;
$link-2: #ff9200;
$text:   $blue-3;
$body:   $white;

// Panel colors
$font-colors:        $text #fff $text #fff;
$background-colors:  $gray $blue-2 $white $blue-1;

// Form highlighting
$green:  #50a14f;
$red:    #e45649;

// Media query widths
$large-width: 768px;
$small-width: 767px;
